@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;400;600&display=swap');

/* Основание фон*/
body{
    background: #e5e5e5;
}

* { 
    margin: 0; /* внешний отступ */
    padding: 0; /* внутрений отступ */ 
}

.block{
    background: #FFFFFF;
    box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.25);
}

.block2{
    background: #000000;
}

#shapka{
    position: absolute;
    width: 1920px;
    height: 186px;
    left: 0px;
    top: 0px;
}

#shapka2{
    position: absolute;
    width: 1920px;
    height: 71px;
    left: 0px;
    top: 186px;

    background: linear-gradient(270deg, #00FC65 0%, #00933F 100%);
}

#osnova{
    position: absolute;
    width: 1200px;
    height: 1668px;
    left: 149px;
    top: 299px;
}

#poisk{
    position: absolute;
    width: 401px;
    height: 75px;
    left: 1408px;
    top: 298px;

    background: #000000;
    box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.25);
}

#akcii{
    position: absolute;
    width: 401px;
    height: 68px;
    left: 1408px;
    top: 401px;

    background: #000000;
    border: 1px solid #2ECC71;
    box-sizing: border-box;
}

#akcii2{
    position: absolute;
    width: 400px;
    height: 870px;
    left: 1409px;
    top: 469px;
}

#comm1{
    position: absolute;
    width: 1200px;
    height: 266px;
    left: 144px;
    top: 2061px;
}

#comm2{
    position: absolute;
    width: 1200px;
    height: 266px;
    left: 140px;
    top: 2366px;
}

#comm3{
    position: absolute;
    width: 1200px;
    height: 908px;
    left: 144px;
    top: 2677px;
}

#opisanie{
    position: absolute;
    width: 1916px;
    height: 765px;
    left: -1px;
    top: 3630px;
}
 

/*Шапка 1*/
.text1{   
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    
    color: #406665;
}

#t1{
    position: absolute;
    width: 93px;
    height: 17px;
    left: 56px;
    top: 23px;
}

#t2{
    position: absolute;
    width: 74px;
    height: 17px;
    left: 182px;
    top: 23px;
}


#log{
    position: absolute;
    width: 46.36px;
    height: 46.34px;
    left: 56px;
    top: 70px;
}


.menu1{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

#menu11{
    position: absolute;
    width: 84px;
    height: 29px;
    left: 393px;
    top: 75px;
}

#menu12{
    position: absolute;
    width: 94px;
    height: 29px;
    left: 507px;
    top: 75px;
}

#menu13{
    position: absolute;
    width: 120px;
    height: 29px;
    left: 631px;
    top: 75px;
}

#menu14{
    position: absolute;
    width: 88px;
    height: 29px;
    left: 781px;
    top: 75px;
}

#menu15{
    position: absolute;
    width: 220px;
    height: 29px;
    left: 899px;
    top: 75px;
}

#menu16{
    position: absolute;
    width: 218px;
    height: 29px;
    left: 1149px;
    top: 75px;
}

#input{
    position: absolute;
    width: 58px;
    height: 29px;
    left: 1533px;
    top: 76px;
    
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    
    color: #406665;
}

#inBl{
    position: absolute;
    width: 181px;
    height: 48px;
    left: 1471px;
    top: 70px;

    border: 1px solid #406665;
    box-sizing: border-box;
    border-radius: 28px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

#input1{
    position: absolute;
    width: 151px;
    height: 29px;
    left: 1698px;
    top: 76px;
    
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
}

#inBl1{
    position: absolute;
    width: 181px;
    height: 48px;
    left: 1683px;
    top: 70px;

    background: #2ECC71;
    border-radius: 20px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

/*Шапка 2*/
.menu2{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

#menu21{
    position: absolute;
    width: 74px;
    height: 29px;
    left: 306px;
    top: 207px;    
}

#menu22{
    position: absolute;
    width: 62px;
    height: 29px;
    left: 418px;
    top: 207px;    
}

#menu23{
    position: absolute;
    width: 59px;
    height: 29px;
    left: 518px;
    top: 207px;    
}

/* Основная часть*/
#gl{
    position: absolute;
    width: 125px;
    height: 16px;
    left: 205px;
    top: 323px;
    color: #2ECC71;
}
#pros{
    position: absolute;
    width: 67px;
    height: 21px;
    left: 1245px;
    top: 322px;
}

#zag1{
    position: absolute;
    width: 208px;
    height: 42.66px;
    left: 205px;
    top: 353px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;

    color: #2ECC71;
}

#zag2{
    position: absolute;
    width: 166px;
    height: 33.73px;
    left: 206px;
    top: 426.42px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;

    color: #2ECC71;
}

#zag3{
    position: absolute;
    width: 142px;
    height: 28.77px;
    left: 205px;
    top: 490.92px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #2ECC71;
}

#blog1{
    position: absolute;
    width: 1091px;
    height: 547.7px;
    left: 205px;
    top: 584.18px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #000000; 
}

#im1{
    position: absolute;
    width: 319px;
    height: 409.78px;
    left: 593px;
    top: 1131.88px;

    background: url(image.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#blog2{
    position: absolute;
    width: 1095px;
    height: 241.11px;
    left: 201px;
    top: 1603.18px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #000000; 
}
/* Оценка*/
#star1{
    position: absolute;
    width: 275px;
    height: 39px;
    left: 615px;
    top: 1832.33px;
}
#star2{
    position: absolute;
    width: 275px;
    height: 39px;
    left: 685px;
    top: 1832.33px;
}
#star3{
    position: absolute;
    width: 275px;
    height: 39px;
    left: 755px;
    top: 1832.33px;
}
#star4{
    position: absolute;
    width: 275px;
    height: 39px;
    left: 825px;
    top: 1832.33px;
}
#star5{
    position: absolute;
    width: 275px;
    height: 39px;
    left: 895px;
    top: 1832.33px;
}

/* Соц сети*/
#vk{
    position: absolute;
    width: 628px;
    height: 50.03px;
    left: 439px;
    top: 1891px;
}
#tg{
    position: absolute;
    width: 628px;
    height: 50.03px;
    left: 570px;
    top: 1891px;
}
#ok{
    position: absolute;
    width: 628px;
    height: 50.03px;
    left: 701px;
    top: 1891px;
}
#fb{
    position: absolute;
    width: 628px;
    height: 50.03px;
    left: 832px;
    top: 1891px;
}
#tw{
    position: absolute;
    width: 628px;
    height: 50.03px;
    left: 963px;
    top: 1891px;
}

/*Правая часть*/
/*Поиск*/
form{
    position: absolute;
    width: 317px;
    height: 54px;
    left: 1419px;
    top: 308px;

    font-family: 'Exo 2', sans-serif;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  outline: none;
}
button{
  position: absolute;
  top: 0;
  right: -45px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background: black;
}

/*Акции*/
#akc{
    position: absolute;
    width: 71px;
    height: 29px;
    left: 1440px;
    top: 420px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF; 
}
#sk{
    position: absolute;
    width: 181px;
    height: 48px;
    left: 1518px;
    top: 1203px;
    
    background: #2ECC71;
    border-radius: 20px;
}

#reg{
    position: absolute;
    width: 181px;
    height: 48px;
    left: 1518px;
    top: 1270px;
    
    background: #406665;
    border: 1px solid #406665;
    box-sizing: border-box;
    border-radius: 20px;
}
#txt1{
    position: absolute;
    width: 151px;
    height: 29px;
    left: 1560px;
    top: 1212px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;    
}
#txt2{
    position: absolute;
    width: 151px;
    height: 29px;
    left: 1534px;
    top: 1275px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;   
}

#rul1{
    position: absolute;
    width: 375px;
    height: 175px;
    left: 1421px;
    top: 484px;
}

#rul2{
    position: absolute;
    width: 375px;
    height: 175px;
    left: 1421px;
    top: 719px;
}

#rul3{
    position: absolute;
    width: 375px;
    height: 175px;
    left: 1421px;
    top: 954px;

}

#trul1{
    position: absolute;
    width: 226px;
    height: 26px;
    left: 1421px;
    top: 666px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    color: #2ECC71;
}
#trul2{
    position: absolute;
    width: 226px;
    height: 26px;
    left: 1421px;
    top: 901px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    color: #2ECC71;
}
#trul3{
    position: absolute;
    width: 226px;
    height: 26px;
    left: 1421px;
    top: 1136px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    color: #2ECC71;
}

#kom1{
    position: absolute;
        width: 1201px;
        height: 105px;
        left: 143px;
        top: 2060px;

        background: #000000;
}
#kom2{
    position: absolute;
    width: 1201px;
    height: 105px;
    left: 139px;
    top: 2365px;

    background: #000000;
}
#kom3{
    position: absolute;
    width: 1200px;
    height: 71px;
    left: 144px;
    top: 2677px;

    background: #000000;
}
#tkom1{
    position: absolute;
    width: 83px;
    height: 29px;
    left: 288.47px;
    top: 2077.47px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}
#tkom2{
    position: absolute;
    width: 83px;
    height: 29px;
    left: 284.47px;
    top: 2382.47px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}
#tkom3{
    position: absolute;
    width: 328px;
    height: 29px;
    left: 192px;
    top: 2698px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
}
#tkom11{
    position: absolute;
    width: 150px;
    height: 22px;
    left: 288.47px;
    top: 2122.47px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
    color: #2ECC71;
}
#tkom21{
    position: absolute;
    width: 150px;
    height: 22px;
    left: 284.47px;
    top: 2427.47px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
    color: #2ECC71;
}
#tkom31{
    position: absolute;
    width: 431px;
    height: 22px;
    left: 192px;
    top: 2778px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
}
#tkom12{
    position: absolute;
    left: 173px;
    right: 87.22%;
    top: 2077px;
    bottom: 51.06%;

    background: #2ECC71;
}
#tkom22{
    position: absolute;
    left: 169px;
    right: 87.22%;
    top: 2382px;
    bottom: 51.06%;

    background: #2ECC71;
}
#tkom13{
    position: absolute;
    width: 1085px;
    height: 76px;
    left: 201px;
    top: 2212px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}
#tkom23{
    position: absolute;
    width: 1085px;
    height: 76px;
    left: 197px;
    top: 2517px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}
#tkom32{
    position: absolute;
    width: 164px;
    height: 29px;
    left: 192px;
    top: 2822px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
  
    color: #000000;
}
#tkom33{
    position: absolute;
    width: 54px;
    height: 29px;
    left: 192px;
    top: 3186px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
  
    color: #000000;
}
#tkom34{
    position: absolute;
    width: 67px;
    height: 29px;
    left: 192px;
    top: 3334px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
  
    color: #000000;
}
#otkom{
    position: absolute;
    width: 181px;
    height: 48px;
    left: 192px;
    top: 3530px;

    background: #2ECC71;
    border-radius: 10px;
}
#otkom1{
    position: absolute;
    width: 181px;
    height: 48px;
    left: 223px;
    top: 3539px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}
#fkom{
    position: absolute;
    width: 1080px;
    height: 288px;
    left: 192px;
    top: 2868px;

    background: #F5F5F5;
    border: 1px solid #2ECC71;
    box-sizing: border-box;
}
#nkom{
    position: absolute;
    width: 1080px;
    height: 72px;
    left: 192px;
    top: 3232px;

    background: #F5F5F5;
    border: 1px solid #2ECC71;
    box-sizing: border-box;
}
#mkom{
    position: absolute;
    width: 1080px;
    height: 72px;
    left: 192px;
    top: 3380px;

    background: #F5F5F5;
    border: 1px solid #2ECC71;
    box-sizing: border-box;
}

/* Нижняя часть */
#opis{
    position: absolute;
    width: 500px;
    height: 78px;
    left: 397px;
    top: 3702px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;

    color: #406665;
}
#opisen{
   position: absolute;
    width: 500px;
    height: 47px;
    left: 1138px;
    top: 3714px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;

    color: #406665;
}
#plus18{
    position: absolute;
    left: 941px;
    right: 44.11%;
    top: 3670px;
    bottom: 13.43%;
}
.styletxt{
     font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}
#opis1{
    position: absolute;
    width: 149px;
    height: 29px;
    left: 152px;
    top: 3845px;
}
#vopr{
    position: absolute;
    width: 271px;
    height: 29px;
    left: 151px;
    top: 4214px;
}
#kateg{
    position: absolute;
    width: 131px;
    height: 29px;
    left: 457px;
    top: 3845px;
}
#podder{
    position: absolute;
    width: 236px;
    height: 29px;
    left: 557px;
    top: 4214px;
}
#social{
    position: absolute;
    width: 400px;
    height: 150px;
    left: 1460px;
    top: 4214px;
}
#oplata{
    position: absolute;
    width: 420px;
    height: 29px;
    left: 794px;
    top: 3837px;
}

.styleops{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #406665;
}
#bvers{
    position: absolute;
    width: 218px;
    height: 29px;
    left: 152px;
    top: 3897px;
}
#otzig{
    position: absolute;
    width: 186px;
    height: 29px;
    left: 152px;
    top: 3949px;
}
#frir{
    position: absolute;
    width: 120px;
    height: 29px;
    left: 152px;
    top: 4005px;
}
#bonus{
    position: absolute;
    width: 84px;
    height: 29px;
    left: 152px;
    top: 4061px;
}
#zerkalo{
    position: absolute;
    width: 94px;
    height: 29px;
    left: 151px;
    top: 4117px;
}
#mailad{
    position: absolute;
    width: 288px;
    height: 29px;
    left: 151px;
    top: 4266px;
}
#akcs{
    position: absolute;
    width: 71px;
    height: 29px;
    left: 457px;
    top: 3897px;
}
#faq{
    position: absolute;
    width: 59px;
    height: 29px;
    left: 457px;
    top: 3949px;
}
#mailpod{
    position: absolute;
    width: 251px;
    height: 29px;
    left: 557px;
    top: 4266px;
}
#partner{
    position: absolute;
    width: 366px;
    height: 29px;
    left: 946px;
    top: 4214px;
}
#partners{
    position: absolute;
    width: 203px;
    height: 29px;
    left: 946px;
    top: 4266px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #9343CC;
}
#mytg{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1504px;
    top: 4260px;
}
#mymes{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1615px;
    top: 4260px;
}

/*Способы оплаты*/
#mcard{
    position: absolute;
    width: 99.66px;
    height: 60px;
    left: 794px;
    top: 3907px;    
}
#visa{
    position: absolute;
    left: 794px;
    right: 39.69%;
    top: 4005px;
    bottom: 7.45%;
}
#neteller{
    position: absolute;
    width: 170px;
    height: 27px;
    left: 928px;
    top: 3928px;
}
#wmoney{
    position: absolute;
    left: 928px;
    right: 39.69%;
    top: 4005px;
    bottom: 7.45%;
}
#qiwi{
    position: absolute;
    width: 129px;
    height: 60px;
    left: 1133px;
    top: 3907px;
}
#yamoney{
   position: absolute;
    width: 172.28px;
    height: 60px;
    left: 1202px;
    top: 4006px; 
}
#skrill{
    position: absolute;
    left: 1297px;
    right: 27.61%;
    top: 3917px;
    bottom: 10.05%;
}
#monetix{
    position: absolute;
    width: 344.37px;
    height: 60px;
    left: 1418px;
    top: 4008px;
}
#sms{
    position: absolute;
    width: 68.43px;
    height: 60px;
    left: 1425px;
    top: 3909px;
}